*{<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">}
margin: 0px;
}

body{ font-family: 'Roboto Slab', serif;
    margin: auto;
}
/*header*/
.top{
    
/* background-color: #88d4d4fa; */
    
width: 100%;
    
min-width: 460px;
    
height: 111px;
    
position: fixed;
    
z-index: 55;
    
top: 0;
    
overflow: hidden;
    
margin-left: -9px;
}
.container{
    border-radius: 11px;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    box-shadow: 2px 12px 34px #094444;
    border-radius: px;
}
p{
    font-size: 20px;
    color: #560808;
    /* line-height: 60px; */
}
h1{
    text-align: center;
    font-size: 50px;
    padding: 23px;
    text-transform: uppercase;
    color: #054a4a;
}
h3{}
h5{}

}
.btn1{
    background: #4c02dc;
    font-size: 12px;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 25%;
}
.logo{float: left;width: -1%;}
.logo h1{
    font-size: 20%;
}
.logo h1 a{*{

margin: 0;
}

body{}
/*header*/
.top{
    
background-color: aliceblue;
}
.container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
p{
    font-size: 20px;
    color: #560808;
}
h1{
    text-align: center;
    font-size: 50px;
}
h3{}
h5{}

}
.btn1{
    background: #114641;
    font-size: 12px;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 25%;
}
.btn1:hover{

color: red;
}
.logo{float: left;width: -1%;}
.logo h1{
    font-size: 20%;
    padding: 0px;
    margin-left: 16px;
}
.logo h1 a{
    text-decoration: none;
    color: #bd1d43;
    font-size: 40px;
    font-weight: inherit;
    text-transform: uppercase;
    text-shadow: 10px -6px 2px #474a4947;
    text-shadow: 0 0 -26px red;
}
.menu{
    width: 80%;
    float: right;
}
.menu ul{
    padding: 0;
    text-align: right;
}
.menu ul li{
    display: right;
    display: inline-block;
    list-style-type: none;
}
.menu ul li a{color: #343a29;text-transform: uppercase;text-decoration: none;font-weight: 900;padding: 8px;display: block;}
.menu ul li a:hover{
    color: red;
}


/*banner-section*/



.banner-section{
    background-color: white;
}
.banner-image{
    width: 50%;
    float: left;
    padding: 45px;
    box-sizing: border-box;
}
.banner-image img{
}
.banner-content{
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    padding-top: 150px;
}
.banner-content h3{
    font-size: 25px;
    color: #72687b;
}
.banner-content h1{
    font-size: 50px;
    color: #114641;
}

/*about-section*/
.about-me-section{}
.col-1{
    width: 100%;
}
.col-1 a{
    background: #4c02dc;
    font-size: 12px;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 25%;
    margin-left: 43%;
}
.col-1 a:hover{
    
color: red;
}

/*project*/
.project{
    background-color: #5f81e0;
    margin-top: 3px;
}
.project h1{
    padding: 34px;
    text-transform: uppercase;
    color: #054a4a;
}
/*photos*/
.photos{}
.photos h1{}
.photos img{}
/*contact*/
.contact-section{background-color: #7955480a;margin-top: 22px;}
.contact-section img{
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    padding-top: 0px;
}
.contact-content{
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    padding-top: 66px;
    background-color: #11dee82e;
    margin-top: 0px;
}
.contact-content h1{

}
.contact head{}
.col-2{}
address{
    font-style: normal;
}
address p{
    line-height: 60px;
}
address p i{}
address h5{
    margin-top: 107px;
    font-size: 27px;
    text-transform: uppercase;
    color: currentColor;
}
.social{padding: 0;}
.social li{
    list-style: none;
    float: left;
}
.social li a{
    color: #00770f;
    border: 1px solid;
    padding: 13px;
    display: block;
    margin-right: 6px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.social li a:hover{
    
color: red;
}
    text-decoration: none;
    color: #b51919;
    font-size: 40px;
    font-weight: inherit;
    text-transform: uppercase;
}
.menu{
    width: 80%;
    float: right;
}
.menu ul{
    padding: 0;
    text-align: right;
}
.menu ul li{
    display: right;
    display: inline-block;
    list-style-type: none;
}
.menu ul li a{color: #343a29;text-transform: uppercase;text-decoration: none;font-weight: 900;padding: 8px;display: block;}
.menu ul li a:hover{
    color: red;
}


/*banner-section*/



.banner-section{background-color: #d0f3f56b;}
.banner-image{
    width: 50%;
    float: left;
    padding: 57px;
    box-sizing: border-box;
    margin-top: 68px;
}
.banner-image img{
}
.banner-content{
    width: 50%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    padding-top: 150px;
}
.banner-content h3{
    font-size: 30px;
    color: #0c3abb;
}
.banner-content h1{
    font-size: 45px;
    color: darkred;
    text-shadow: 7px 1px 3px #35282880;
    margin: -17px;
}

/*about-section*/
.about-me-section{
    background-color: #00bcd417;
}
.col-1{
    width: 100%;
    text-align: center;
}
.col-1 a{
    background: #23a721;
    font-size: 12px;
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 25px;
    margin-left: 15px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 7px;
}
.btn2
/*project*/
.project{}
.project img{margin-left: 0;width: 100%;}
.project h1{
    padding: 34px;
    text-transform: uppercase;
    color: #fffa2c;
    margin-top: 21px;
}
/*photos*/
.photos{
    background-color: aliceblue;
}
.photos h1{}
.photos img{
    width: 26%;
    float: left;
    padding: 19px;
    box-sizing: border-box;
    margin-left: 79px;
    border-radius: 16%;
    }
}
.social li:hover{

}